* {
  box-sizing: border-box;
  min-width: 0;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  font-family: "Manrope", sans-serif;
  font-size: 10px;
}

body {
  min-height: 100dvh;
  /* background-color: #f2f2f2; */
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

input,
textarea,
select,
button {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.container {
  width: min(100% - 3.2rem, 110rem);
  margin-inline: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0 0;

  & h1 {
    /* color: #80fff3; */
    font-size: 2.8rem;
    font-weight: 800;
    text-shadow: 4px 4px 8px rgba(128, 255, 243, 0.6);
  }
}

.btn {
  width: 170px;
  height: 41px;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
  border-radius: 2.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-header {
  background-color: #293356;
  color: #becdff;
  transition: all 0.3s;

  &:hover {
    background-color: #1e2a3a;
    transition: all 0.3s;
  }
}

.big-title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
  color: #293356;
  margin: 2.4rem 0;
}

.lists {
  & .lists-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
  }
}

.lists {
  & .list {
    /* padding: 1.2rem;  Ancienne version (au cas-ou) */
    padding: 2rem;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f2f2f2;
    transition: scale 0.3s;

    &:hover {
      scale: 1.05;
      transition: scale 0.3s;
    }

    & .list-button {
      width: 25px;
    }

    & h3 {
      font-size: 1.4rem;
      font-weight: 800;
      letter-spacing: 2px;
      color: #848ead;
    }
  }
}

.create {
  & .create-input {
    width: 100%;
    padding: 1.2rem;
    border-radius: 8px;
    background: #fff;
    margin-bottom: 2.4rem;
    max-width: 54rem;
    margin-inline: auto;
    box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.15);

    & label {
      font-size: 1.4rem;
      font-weight: 800;
      color: #293356;
      margin-bottom: 0.8rem;
      display: block;
    }

    & input {
      width: 100%;
      padding: 1.2rem;
      border-radius: 8px;
      background: #f2f2f2;
      font-size: 1.4rem;
      font-weight: 800;
      color: #293356;
    }
  }

  & .btn-header {
    margin: auto;
    margin-top: 4rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.archives {
  margin-top: 8rem;
}

.archives {
  margin-top: 8rem;

  &.hide {
    display: none;
  }
}

.task {
  background-color: white;
  box-shadow: 0px 5px 30px -5px rgba(127, 137, 185, 0.15);
  font-family: "Manrope", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid #f2f2f2;
  border-radius: 1rem;

  & input[type="checkbox"] {
    accent-color: #848ead;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.achieve {
    background-color: #fafafa;
  }
}

.list {
  display: flex;
  justify-content: center;
  color: #848ead;
}

.achievedTask {
  text-decoration: line-through;
  color: #848ead;
}
